body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    text-align: center;
    position: relative;
}

#page1 {
    background: url('../Assets/foto1.jpg') no-repeat center center fixed;
    background-size: cover;
}

#page1 h1{
    color: white;
}

#page2 {
    background: url('../Assets/foto2.jpg') no-repeat center center fixed;
    background-size: cover;
}

#messagePage {
    background: transparent;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menyesuaikan video untuk menutupi seluruh area */
    z-index: -1; /* Menempatkan video di belakang konten */
}

#input1, #input2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

input[type="text"] {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

button {
    background-color: #4ea3ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #0056b3;
}

#error1, #error2 {
    color: #ff0000;
    margin-bottom: 20px;
    font-size: 14px;
}

#message {
    font-family: Arial, sans-serif;
    color: white;
    line-height: 1.6;
    padding: 20px;
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 800px;
    backdrop-filter: blur(1px);
    background: rgba(67, 67, 67, 0.4);
    border-radius: 8px;
}

#message h1 {
    text-align: left;
    font-size: 38px;
}

#message h2 {
    text-align: left;
    font-size: 35px;
}

#message p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 24px;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.marquee h1 {
    display: inline-block;
    animation: marquee 10s linear infinite;
    font-size: 36px;
    color: white;
    margin: 0;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
